<div class="container pt-5 mb-5">
    <form name="AddCategoryForm" novalidate>
        <h3 class="d-flex mb-3">
            <span class="me-auto">Add Category</span>
            <a href="#!/Category" class="btn btn-sm btn-secondary me-2" style="height: 50px; width: 70px; padding-top: 12px; border-radius: 5px;"> Cancel </a>
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="AddCategoryForm.title.$invalid || AddCategoryForm.date.$invalid" style="height: 50px; width: 110px; border-radius: 5px;">
                <a href="#!/Category" style="text-decoration: none; color: white;">Save changes</a>
              </button>
        </h3>
        <div class="card">
            <div class="card-header">Add your Category data</div>
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label  for="brand" class="col-form-label" >Title:</label>
                        <input name="title" ng-model="title" type="text" class="form-control" id="title" required />
                        <div ng-show="AddCategoryForm.title.$touched && AddCategoryForm.title.$invalid" style="color:red;">
                            <span ng-show="AddCategoryForm.title.$error.required">Enter Name Of Your Category</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label name="date" for="date" class="form-label">Date:</label>
                        <input name="date" ng-model="date" class="form-control" type="date" id="date" required />
                        <div ng-show="AddCategoryForm.date.$touched && AddCategoryForm.date.$invalid" style="color:red;">
                            <span ng-show="AddCategoryForm.date.$error.required">Enter Valid Date</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>