<div class="container pt-5 mb-5">
  <h3 class="d-flex mb-3">
    <span class="me-auto">Cloches</span>
    <a href="#!/add-product" class="btn btn-sm btn-primary" style="height: 45px; padding-top: 11px;">Add New Clothes</a>
  </h3>


  <div class="card">
    <div class="card-header">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">Filter: </span>
        <div class="btn-group btn-group-sm" role="group">
          <input
            type="radio"
            class="btn-check"
            name="filter"
            id="filter1"
            value="brand"
            ng-model="searchType"
            checked
          />
          <label class="btn btn-outline-primary" for="filter1">Product</label>
          <input
            type="radio"
            class="btn-check"
            name="filter"
            id="filter2"
            value="type"
            ng-model="searchType"
            checked
          />        
          <label class="btn btn-outline-primary" for="filter3">Category</label>
        </div>
        <input
          type="search"
          class="form-control"
          id="filter-text"
          vaule=""
          ng-model="searchText"
        />
      </div>
    </div>
    <div style="display: flex;  justify-content: space-evenly; flex-wrap: wrap; padding:15px ;">
      <div class="row mb-3" style="width: 23rem; border: 1.5px solid black; border-radius: 10px;"
        ng-repeat="list in product | searchFilter:searchType:searchText">
        <img ng-src="{{list.img}}" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Product: {{list.product}} </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mterial: {{list.specs.material}}</li>
          <li class="list-group-item">Style: {{list.specs.style}}</li>
          <li class="list-group-item">Fit: {{list.specs.fit}}</li>
          <li class="list-group-item">Price: {{list.price.starting_from}}</li>
        </ul>
        <div class="card-body " style="display: flex; justify-content: space-evenly;">
          <a href="#!/edit-product" class="card-link">
            <button class="btn btn btn-success " title="Edit">
              <label style="color: #fff; font-size: 19px; padding: 5px;">Edit</label>
            </button>
          </a>
          <a href="" class="card-link">
            <button class="btn btn-sm btn-danger " title="Delete">
              <label style="color: #fff; font-size: 19px; padding: 5px;">Delete</label>
            </button>
          </a>
        </div>

      </div>
    </div>



  </div>
</div>