<div class="container pt-5 mb-5">
    <form name="productAdd" novalidate>
        <h3 class="d-flex mb-3">
            <span class="me-auto">Add Clothes</span>
            <a href="#!/product" class="btn btn-sm btn-secondary me-2" style="height: 50px; width: 70px; padding-top: 12px; border-radius: 5px;"> Cancel </a>
            <a href="#!/product"><button type="submit" class="btn btn-sm btn-success" style="height: 50px; width: 110px; border-radius: 5px;"
                ng-disabled=
                "productAdd.product.$invalid ||
                 productAdd.fit.$invalid || 
                 productAdd.price.$invalid || 
                 productAdd.material.$invalid || 
                 productAdd.style.$invalid">Save changes</button></a>
        </h3>
        <div class="card">
            <div class="card-header">Add your clothes data</div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="product" class="col-form-label"><b>Product Name:</b></label>
                        <input name="product" ng-model="product" type="text" class="form-control" id="product" required />
                        <div ng-show="productAdd.product.$touched && productAdd.product.$invalid" style="color:red;">
                            <span ng-show="productAdd.product.$error.required">Enter Product Name</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="model" class="col-form-label"><b>Fit:</b></label>
                        <input name="fit" ng-model="fit" type="text" class="form-control" id="fit" required />
                        <div ng-show="productAdd.fit.$touched && productAdd.fit.$invalid" style="color:red;">
                            <span ng-show="productAdd.fit.$error.required">Enter fit type</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="fimage" class="form-label"><b>Feature Image 1:</b></label>
                        <input class="form-control" type="file" id="fimage1" />
                    </div>
                    <div class="col-md-4">
                        <label for="fimage" class="form-label"><b>Feature Image 2:</b></label>
                        <input class="form-control" type="file" id="fimage2" />
                    </div>
                    <div class="col-md-4">
                        <label for="fimage" class="form-label"><b>Feature Image 3:</b></label>
                        <input class="form-control" type="file" id="fimage3" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="category" class="form-label"><b>Category:</b></label>
                        <select class="form-select" id="category">
                            <option value="1">Men's Clothes</option>
                            <option value="2">Women's Clothes</option>
                            <option value="3">Children's clothes</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label  for="price" class="col-form-label"><b>Price:</b></label>
                        <input name="price" ng-model="price" type="number" class="form-control" id="Price" required/>
                        <div ng-show="productAdd.price.$touched && productAdd.price.$invalid" style="color:red;">
                            <span ng-show="productAdd.price.$error.required">Enter Price</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="material" class="col-form-label"><b>Material:</b></label>
                        <input name="material" ng-model="material" type="text" class="form-control" id="material" required />
                        <div ng-show="productAdd.material.$touched && productAdd.material.$invalid" style="color:red;">
                            <span ng-show="productAdd.material.$error.required">Enter material type</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="style" class="col-form-label"><b><Style></Style>:</b></label>
                        <input name="style" ng-model="style" type="text" class="form-control" id="case_thickness" required />
                        <div ng-show="productAdd.style.$touched && productAdd.style.$invalid" style="color:red;">
                            <span ng-show="productAdd.style.$error.required">Enter the style</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="size" class="form-label"><b>Size:</b></label>
                        <select class="form-select" id="size">
                            <option value="1">S</option>
                            <option value="2">M</option>
                            <option value="3">L</option>
                            <option value="4">XL</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>