<div class="container pt-5 mb-5">
    <form action="#">
        <h3 class="d-flex mb-3">
            <span class="me-auto">Edit Clothes</span>
            <a href="#!/product" class="btn btn-sm btn-secondary me-2" style="height: 50px; width: 70px; padding-top: 12px; border-radius: 5px;"> Cancel </a>
            <a href="#!/product"><button type="submit" class="btn btn-sm btn-success" style="height: 50px; width: 110px; border-radius: 5px;">Save changes</button></a>
        </h3>
        <div class="card">
            <div class="card-header">Edit your Clothes data</div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="product" class="col-form-label"><b>Product Name:</b></label>
                        <input type="text" class="form-control" id="product" />
                    </div>
                    <div class="col-md-6">
                        <label for="fit" class="col-form-label"><b>Fit:</b></label>
                        <input type="text" class="form-control" id="fit" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="fimage" class="form-label"><b>Feature Image 1:</b></label>
                        <input class="form-control" type="file" id="fimage1" />
                    </div>
                    <div class="col-md-4">
                        <label for="fimage" class="form-label"><b>Feature Image 2:</b></label>
                        <input class="form-control" type="file" id="fimage2" />
                    </div>
                    <div class="col-md-4">
                        <label for="fimage" class="form-label"><b>Feature Image 3:</b></label>
                        <input class="form-control" type="file" id="fimage3" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="category" class="form-label"><b>Category:</b></label>
                        <select class="form-select" id="category">
                            <option value="1">Men's Clothes</option>
                            <option value="2">Women's Clothes</option>
                            <option value="2">Children's Clothes</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="price" class="col-form-label"><b>Price:</b></label>
                        <input type="number" class="form-control" id="Price" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="material" class="col-form-label"><b>Material:</b></label>
                        <input type="number" class="form-control" id="material" />
                    </div>
                    <div class="col-md-4">
                        <label for="style" class="col-form-label"><b>Style:</b></label>
                        <input type="number" class="form-control" id="style" />
                    </div>
                    <div class="col-md-4">
                        <label for="category" class="form-label"><b>Category:</b></label>
                        <select class="form-select" id="category">
                            <option value="1">S</option>
                            <option value="2">M</option>
                            <option value="2">L</option>
                            <option value="2">XL</option>
                        </select>
                    </div>                 
                </div>
            </div>
        </div>
    </form>
</div>